name: Code Coverage

on:
  push:

jobs:
  coverage:
    runs-on: ubuntu-latest
    env:
      CARGO_TERM_COLOR: always
    steps:
      - uses: actions/checkout@v5

      - name: Install Rust
        run: rustup update stable

      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov

      - name: Generate code coverage (LCOV)
        run: cargo llvm-cov --all-features --workspace --lcov --ignore-filename-regex=main.rs --output-path lcov.info

      - name: Generate code coverage (HTML)
        run: rm -f *-*.json && cargo llvm-cov --all-features --workspace --html --ignore-filename-regex=main.rs --output-dir coverage-html

      - name: Upload HTML coverage report
        uses: actions/upload-artifact@v6
        with:
          name: coverage-html
          path: coverage-html
